<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RWAccessControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <RWAccessControl.Properties.Settings>
            <setting name="Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendEmail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmtpHost" serializeAs="String">
                <value>ENTER SMTP HOST HERE</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value>ENTER EMAIL LOGIN ENCODED IN BASE64</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>ENTER EMAIL PASSWORD ENCODED IN BASE64</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value>ENTER EMAIL FROM ENCODED IN BASE64</value>
            </setting>
            <setting name="EmailTo" serializeAs="String">
                <value>ENTER EMAIL RECIPIENT ENCODED IN BASE64</value>
            </setting>
            <setting name="StartProcessMonitor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProcessMonitorDuration" serializeAs="String">
                <value>30</value>
            </setting>
        </RWAccessControl.Properties.Settings>
    </userSettings>
</configuration>
